.card-home {
    width: 80%;
    margin: 0rem auto;
    background-color: rgb(212, 163, 14);
}

.img-logo {
    margin-left: auto;
  }

.example-card {
    display: flex;
    flex-direction: column;
  }

.img-total {
    margin: auto;
  }

.app-home {
    width: 200px;
    height: 200px;
    font-size: 12px; 
  }

/* Reduz o tamanho do cartão do calendário */
.calendar-card-ajuste {
  width: 300px; /* Defina a largura desejada */
  height: 400px; /* Defina a altura desejada */
  margin-top: 10px; /* Ajuste o valor de margem superior conforme necessário */
}


  .example-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
  }
  
  .calendar-container {
    text-align: center;
  }
  .title-agendamento{
    text-align: right; /* Alinha o texto à esquerda */
  }
  .title-agendamento-calendar {
    color: orange;
  }
  
  
  
  

